.page { 
  margin: 0 auto;
  padding: 1px;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* max-width: 1280px; */
}
