.profile__credentials { 

}


@media (min-width: 1024px) {
  .profile__credentials {
  align-self: center;
  max-width: 430px;
  }
}


@media (min-width: 1280px) {
  .profile__credentials {
    align-self: center;
    max-width: 430px;
  }
}