.profile__credentials-subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}


@media (min-width: 1024px) {
  .profile__credentials-subtitle {
text-align: left;
padding-top: 16px;
  }
}


@media (min-width: 1280px) {
  .profile__credentials-subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }
}
