.header__burger-button {
    width: 24px;
    height: 18px;
    background-image: url('../../../images/burger-button.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
}

.header__burger-button:target {
    background-image: url('../../../images/edit-icon.svg');
}


@media screen and (min-width: 768px) {
    .header__burger-button {
        display: none;
    }
}
