.card__like-button_active {
  box-sizing: border-box;
  border:none;
  background-color: transparent;
  background-image: url(../../../../images/heart_active.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 21px;
  min-height: 19px;
  flex-shrink: 0;
  padding: 0;
 }